@tailwind base;
@tailwind components;

.btn-blue {
  @apply bg-blue-500 text-white font-bold py-3 px-6 rounded;
}

.btn-gray {
  @apply bg-gray-300 font-bold py-3 px-6 rounded;
}

button[disabled] {
  cursor: default;
  opacity: 0.5;
}

.link-button {
  cursor: pointer;
  text-decoration: underline;
  @apply text-blue-500;
}

.hero {
  @apply py-20;
}

.title {
  @apply text-5xl text-center;
  color: #333;
  line-height: 1.15;
}

@tailwind utilities;

.progress {
  position: relative;
  overflow: hidden;
  height: 3vh;
  display: flex;
}

.progress span {
  height: 100%;
  max-width: 100%;
  @apply bg-blue-500;
}
